.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.image-item {
  overflow: hidden;
  border-radius: 8px;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}
.image-container {
  width: 100%; /* Ensure each container occupies the full width of its grid cell */
  height: 200px; /* Let the image adjust its height proportionally */
  overflow: hidden;
}

.image {
  width: 100%; /* Ensure each image fills its container horizontally */
  height: 100%; /* Ensure each image fills its container vertically */
  object-fit: cover; /* Maintain aspect ratio and cover entire container */
}
