[nz-form] {
  max-width: 600px;
}
.child{
  padding: 50px;
  width: 380px;
  box-shadow: 1px 1px 15px -7px rgba(0,0,0,0.1);
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: azure;
}
nz-form-control{
  min-width: 280px;
}
.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login-form-margin{
  margin-bottom: 16px;
}
.login-form-forgot{
  float: right;
}
.login-form-btn{
  width: 100%;
}
button{
  background-color: aquamarine;
  border: none;
}
.imgDiv{
  width: 100%;
  vertical-align: middle;
  margin-bottom: 40px;
}



