@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import "ng-zorro-antd/ng-zorro-antd.css";





@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter',system-ui, sans-serif;;
}

.ant-message-error  {
  border-radius: 8px;
  max-width: 300px;
  background-color: #ee9393;
  padding: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
